body{
  display: flex;
  justify-content: center;

}
.header{
  width: 100%;
  width: 1440px;
  margin: 0 calc((100vw - 1440px)/2);
  overflow: hidden;
  background-color: #231d2b;
}
.slider{
  position: relative;
  margin-top: -50px;
  height: 85px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #231d2b;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  transition: 1s ease;
}

.menu-icon{
  width: 100%;
  margin: 0 calc((100vw - 1440px)/2);
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.menu-icon .menu{
  display: block;
  color: rgb(245, 240, 240);
  cursor: pointer;
  font-size: 50px;
  right: 0;
}  
.merk, .venus, .mars, .earth, .jup, .nept, .sat, .uran {
  opacity: 0;
}
.closed .close{
  display: none;
  cursor: pointer;
  justify-content: flex-start;
  width: 100%;
  margin: 0 calc((100vw - 1440px)/2);

  color: white;
}  

.link, .brand{
  text-decoration: none;
  font-family: 'League Spartan', sans-serif;
  padding: 10px 15px;
  color: #F2F2F2;
  font-size: 16px;
}
.brand{
  position: absolute;
  width: 109px;
  height: 36px;
  left: 32px;
  top: 0px;
  font-family: 'Antonio', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: -1.05px;
z-index: 5;
}

.link:hover, .btn:hover{
  cursor: pointer;
  background: #38384f;
}
main {
  position: relative;
  height: 754px;
  background-image: url(bg-stars.svg);
  background-color: #231d2b;

}
.mercury1, .venus1, .earth1, .mars1, .jupiter1, .saturn1, .uranus1{
    position: absolute;
  width: 290px;
  left: 23%;
  top: 32%;
}
.venus1{
  width: 400px;
  left: 19%;
  top: 25%;
}
.earth1{
  width: 450px;
  left: 17.7%;
  top: 21.5%;
}
.mars1{
  width: 336px;
  left: 21.5%;
  top: 29%;
}
.jupiter1{
  width: 582px;
  left: 12.7%;
  top: 13.1%;
}
.saturn1{
  width: 614px;
  left: 12%;
  top: 9.3%;
}
.uranus1{
  width: 458px;
  left: 17%;
  top: 21%;
}

.aplication{
  position: absolute;
  width: 163px;
  left: 27.38%;
  top: 62%;
}
.name{
position: absolute;
width: 263px;
left: 64%;
top: 11%;
font-family: 'Antonio', sans-serif;
font-weight: 400;
font-size: 80px;
line-height: 104px;
color:white;
}
.text, .text-source{
position: absolute;
width: 350px;
height: 150px;
left: 64%;
top: 33.5%;
font-family: 'Spartan', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 25px;
margin-top: 20px;
color: white;
opacity: 0.6;

}
.text-source{
position: absolute;
height: 50px;
color: #FFFFFF;
opacity: 0.5;
top: 57%;
}

.buttons{
  position: absolute;
  width: 350px;
  height: 176px;
  left: 64%;
  top: 65%;
  margin-top: 20px;
  }
.btn, .btn1-earth, .btn2-earth, .btn3-earth,
.btn1-jupiter, .btn2-jupiter, .btn3-jupiter,
.btn1-mars, .btn2-mars, .btn3-mars,
.btn1-mercury, .btn2-mercury, .btn3-mercury,
.btn1-neptune, .btn2-neptune, .btn3-neptune,
.btn1-saturn, .btn2-saturn, .btn3-saturn,
.btn1-uran, .btn2-uran, .btn3-uran,
.btn1-venus, .btn2-venus, .btn3-venus {
width: 350px;
height: 48px;
margin-bottom: 16px;
padding-left: 28px;
background-color: rgb(35, 29, 43);
color:white;
font-family: 'Spartan', sans-serif;
font-weight: 700;
font-size: 12px;
line-height: 25px;
letter-spacing: 2.57143px;
text-transform: uppercase;
cursor: pointer;
text-align: left;
border: 1px solid rgba(255, 255, 255, .2);
}
.btn1-earth.active, .btn2-earth.active, .btn3-earth.active{
  background-color: rgba(109, 46, 213, 1);
}
.btn1-jupiter.active, .btn2-jupiter.active, .btn3-jupiter.active {
  background-color: rgba(216, 58, 52, 1);
}
.btn1-mars.active, .btn2-mars.active, .btn3-mars.active{
      background-color: rgba(209, 76, 50, 1);
}
.btn1-mercury.active, .btn2-mercury.active, .btn3-mercury.active{
     background-color: rgba(65, 158, 187, 1)
}
.btn1-neptune.active, .btn2-neptune.active, .btn3-neptune.active{
  background-color: rgba(45, 104, 240, 1);
}
.btn1-saturn.active, .btn2-saturn.active, .btn3-saturn.active {
  background-color: rgba(205, 81, 32, 1);
}
.btn1-uran.active, .btn2-uran.active, .btn3-uran.active {
  background-color:rgba(30, 193, 162, 1);
}
.btn1-venus.active, .btn2-venus.active, .btn3-venus.active{
  background-color: rgba(237, 162, 73, 1);
}

.numer{
  margin: 0 10px;
  font-weight: 700;
  font-size: 12px;

}

.btn .span{
margin: 0 20px;
font-family: 'Spartan', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 25px;
letter-spacing: 2.57143px;
text-transform: uppercase;
color: #FFFFFF;
}

footer{
  width: 100%;
  height: 181px;
  top: 800px;
  background-image: url(bg-stars.svg);
  background-color: #231d2b;
  z-index: 5;
}
.parameter{
  display: flex;
  justify-content: center;
}
.boxing{
  width: 225px;
  height: 128px;
  margin-right: 30px;
  border: 1px solid rgba(255, 255, 255, .2);
}
.boxing p{
font-family: Spartan, sans-serif;
text-align: left;

font-weight: 700;
font-size: 11px;
line-height: 25px;
letter-spacing: 1px;
padding-left: 9%;
margin: 20px 0 1px;
text-transform: uppercase;
color: #FFFFFF;
opacity: 0.5;
}
.boxing h2{
font-family: 'Antonio', sans-serif;
font-weight: 400;
font-size: 40px;
line-height: 52px;
letter-spacing: -1.5px;
text-transform: uppercase;
color: #FFFFFF;
padding-left: 9%;
margin-top: 0;
}
@media all and (max-width: 1200px){
  .header{
    width: 100vw;
    margin: 0 20px;
  }
  .brand{
    position: absolute;
    width: 109px;
    height: 36px;
    left: 50px;
    top: 0;
  }
  .slider{
    padding-right: 40px;
  }

  .boxing{
    margin: 20px;
  }
  
}
@media all and (max-width: 1000px){
  .slider{
    padding-right: 10px;
  }
  .brand{
    left: 10px;
  }
  .link {
    padding: 10px 10px;
  }
  
  .mercury1, .venus1, .earth1, .mars1, .jupiter1, .saturn1, .uranus1{
  scale: .8;
  }
  .text, .text-source{
  width: 320px;
  }
  .boxing h2{
    font-size: 30px;
    line-height: 52px;
    letter-spacing: -1.5px;
    }
    .btn, .btn1-earth, .btn2-earth, .btn3-earth,
    .btn1-jupiter, .btn2-jupiter, .btn3-jupiter,
    .btn1-mars, .btn2-mars, .btn3-mars,
    .btn1-mercury, .btn2-mercury, .btn3-mercury,
    .btn1-neptune, .btn2-neptune, .btn3-neptune,
    .btn1-saturn, .btn2-saturn, .btn3-saturn,
    .btn1-uran, .btn2-uran, .btn3-uran,
    .btn1-venus, .btn2-venus, .btn3-venus {
        width: 300px;
      height: 48px;
      margin-bottom: 14px;
      padding-left: 20px;
      letter-spacing: 1.7px;
  }      
      
}

  @media all and (max-width: 800px){
    .slider{
      position: relative;
      margin-top: -50px;
      height: 155px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      background-color: #231d2b;
      border-bottom: 1px solid rgba(255, 255, 255, .2);
      transition: 1s ease;
    }
.brand{
  position: absolute;
  font-size: 28px;
  left: 45%;
}

main{
display: flex;
flex-direction: column;
align-items: center;
}
.isOver, .isStruct, .isGeo{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  }

.image-planets{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 715px;
  width: 100%;
  display: flex;
  align-items: center;
}
.mercury1, .venus1, .earth1, .mars1, .jupiter1, .saturn1, .uranus1{
  position: static;
}
.mercury1{
width: 184px;
margin-bottom: 130px;
}
.venus1{
  width: 253px;
  margin-bottom: 95px;
}
.earth1{
  width: 285px;
  margin-bottom: 79px;
} 
.neptune1{
  width: 285px;
  margin: 331px auto;
}
.mars1{
  width: 213px;
  margin-bottom: 115px;
}
.jupiter1{
  width: 369px;
  margin-bottom: 31px;
}
.saturn1{
  width: 422px;
  margin-bottom: 15px;
}
.uranus1{
  width: 290px;
  margin-bottom: 77px;
}
.aplication{
  position: absolute;
  width: 110px;
  top: 270px;
  left: calc(42.5vw);
}


.whole-text{
  align-self: flex-start;
  height: 255px;
  width: 340px;
  margin-left: 40px;
}

.name, .text, .text-source{
  position: static;
  display: flex;
}
.name{
width: 106px;
height: 62px;
font-weight: 400;
font-size: 48px;
line-height: 62px;
text-transform: uppercase;
  width: 263px;
  }
  .text, .text-source{
  position: static;
  width: 350px;
  height: 150px;
  width: 350px;
  left: 64%;
  top: 33.5%;
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  margin-top: 20px;
  color: white;
  opacity: 0.6;
  
  }
  .text-source{
  position: static;
  height: 50px;
  color: #FFFFFF;
  opacity: 0.5;
  top: 57%;
  }
  
.buttons{
  position: absolute;
  top: 516px;
  right: 40px;
  left: 58%;
  width: 280px;
  height: 152px;
}
.btn, .btn1-earth, .btn2-earth, .btn3-earth,
.btn1-jupiter, .btn2-jupiter, .btn3-jupiter,
.btn1-mars, .btn2-mars, .btn3-mars,
.btn1-mercury, .btn2-mercury, .btn3-mercury,
.btn1-neptune, .btn2-neptune, .btn3-neptune,
.btn1-saturn, .btn2-saturn, .btn3-saturn,
.btn1-uran, .btn2-uran, .btn3-uran,
.btn1-venus, .btn2-venus, .btn3-venus {
  width: 280px;
  height: 40px;
  margin-bottom: 16px;
}
.btn span{
  font-size: 9px;
  letter-spacing: 1.92857px;
  }
  
.boxing{
  width: 164px;
  height: 88px;
  margin: 40px 20px 10px;
}

.boxing p{
font-weight: 700;
font-size: 10px;
line-height: 16px;
padding-left: 15px;

  }
  .boxing h2{
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    padding-left: 15px;
    }
  
} 


@media all and (max-width: 500px){
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header{
    width: 100%;
    margin: 0;
    overflow: hidden;

  }
  .menu-icon{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    z-index: 5;
  }
  .menu-icon .menu{
  margin: 10px 30px 0;  
}
  .brand{
    position: absolute;
    display: block;
    height: 36px;
    left: 10%;
    top: 0px;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: -1.05px;
    text-transform: uppercase;
    color: #FFFFFF;  
  }
  .brand p {
    margin-top: 10px;
  }
  .slider{
    position: relative;
  margin-top: 50px;
  margin-left: -110%;
  width: 100%;
  height: 670px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  transition: 1s ease;

}
  .slider.active{
    margin-left: 0;
    background-color: rgba(35, 29, 43, 0.9);
    transition: 2s ease;
    z-index: 50;
  }

  .closed{
    width: 100%;
    height: 30px;
    align-self: flex-start;
  }
  .closed .close{
    display: block;
    width: 30px;
    color: white;
    margin: 0 50px;  
  }  
  .merk, .venus, .mars, .earth, .jup, .nept, .sat, .uran {
    opacity: 1;
   height: 16px;
  margin: 0 20px -10px;
  }
  .merk{
    color: rgba(65, 158, 187, 1);
  }
  .earth{
    color: rgba(109, 46, 213, 1);
  }
  .jup{
    color: rgba(216, 58, 52, 1);
  }
  .mars{
    color: rgba(209, 76, 50, 1);
  }
  .nept{
    color: rgba(45, 104, 240, 1);
  }
  .sat{
    color: rgba(205, 81, 32, 1);
    }
  .uran{
    color: rgba(30, 193, 162, 1);
  }
  .venus{
    color: rgba(237, 162, 73, 1);
  }
  main{
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -720px;
    margin-left: 0;
  }
  .isOver, .isStruct, .isGeo{
    position: static;
    width: 100%;
    display: flex;
    flex-direction: column;
    }
    .image-planets{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 540px;
    }
    .mercury1, .venus1, .earth1, .mars1, .jupiter1, .saturn1, .uranus1{
      scale: 0.8;
      }
        .aplication{
      top: 120px;
      left: 37%;
      scale: 0.8;
    }
    
    
    .whole-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 235px;
  }
  .text, .text-source{
    width: 80%;
    margin: auto;
    height: 235px;
  }  
  .buttons{
    position: static;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
    order: -1;
  }
  .btn, .btn1-earth, .btn2-earth, .btn3-earth,
  .btn1-jupiter, .btn2-jupiter, .btn3-jupiter,
  .btn1-mars, .btn2-mars, .btn3-mars,
  .btn1-mercury, .btn2-mercury, .btn3-mercury,
  .btn1-neptune, .btn2-neptune, .btn3-neptune,
  .btn1-saturn, .btn2-saturn, .btn3-saturn,
  .btn1-uran, .btn2-uran, .btn3-uran,
  .btn1-venus, .btn2-venus, .btn3-venus {
    width: 30vw;
    height: 48px;
    text-align: center;
    margin-bottom: 16px;
    padding: 15px;
    border: none;
  }  
  .btn .span, .btn .numer{
   display: none;
  }
  span.active, .numer.active{
    display: none;
   }

  .btn1-earth.active, .btn2-earth.active, .btn3-earth.active,
  .btn1-jupiter.active, .btn2-jupiter.active, .btn3-jupiter.active,
  .btn1-mars.active, .btn2-mars.active, .btn3-mars.active,
  .btn1-mercury.active, .btn2-mercury.active, .btn3-mercury.active,
  .btn1-neptune.active, .btn2-neptune.active, .btn3-neptune.active {
    background-color: rgb(35, 29, 43);
    width: 30vw;
    height: 48px;
    margin-bottom: 16px;
    padding: 15px;
  }
  .btn1-saturn.active, .btn2-saturn.active, .btn3-saturn.active,
  .btn1-uran.active, .btn2-uran.active, .btn3-uran.active,
  .btn1-venus.active, .btn2-venus.active, .btn3-venus.active  {

    background-color: rgb(35, 29, 43);
    width: 30vw;
    height: 48px;
    margin-bottom: 16px;
    padding: 15px;
  }

  .btn1-earth.active, .btn2-earth.active, .btn3-earth.active{
    border-bottom: 3px solid rgba(109, 46, 213, 1);
  }
  .btn1-jupiter.active, .btn2-jupiter.active, .btn3-jupiter.active{
    border-bottom: 3px solid rgba(216, 58, 52, 1);
  }
  .btn1-mars.active, .btn2-mars.active, .btn3-mars.active{
    border-bottom: 3px solid rgba(209, 76, 50, 1);
  }
  .btn1-mercury.active, .btn2-mercury.active, .btn3-mercury.active {
    border-bottom: 3px solid rgba(65, 158, 187, 1);
  }
  .btn1-neptune.active, .btn2-neptune.active, .btn3-neptune.active {
    border-bottom: 3px solid rgba(45, 104, 240, 1);
  }
  .btn1-saturn.active, .btn2-saturn.active, .btn3-saturn.active {
    border-bottom: 3px solid rgba(205, 81, 32, 1);
  }
  .btn1-uran.active, .btn2-uran.active, .btn3-uran.active {
    border-bottom: 3px solid rgba(30, 193, 162, 1);
  }
  .btn1-venus.active, .btn2-venus.active, .btn3-venus.active {
    border-bottom: 3px solid rgba(237, 162, 73, 1);
  }


  footer{
    height: auto;
  }
  .parameter{
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 20px auto;
    }
  .boxing{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 48px;
    margin: 8px 24px 4px;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, .2);
  }
  
     
}

